<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    <p>
    Want to add your voice of support? Here's how.

    <ul>
      <li>
        <p>
          Hold up #IBelieveChristineBlaseyFord on a piece of paper, if you can.
        </p>
      </li>

      <li>
        <p>
          Start by saying clearly: <q>I believe Christine Blasey Ford.</q>
          ("Blasey" is
          <a href="https://www.youtube.com/watch?v=B4tReT7HeGE&t=31s">pronounced
            "Blahzee"</a>.)
        </p>
      </li>

      <li>
        <p>
          Declare your support for women who report abuse,
          in a way that has integrity for you.
          Speak from the heart, but don't make it about yourself.
          Here are some examples of things you could say:
          <ul>
            <li>
              <q>We should listen to women who come forward to report abuse.</q>
            </li>

            <li>
              <q>It takes tremendous courage to come forward, as she did.</q>
            </li>

            <li>
              <q>Her account is credible,
                and it deserves a full and fair investigation.</q>
            </li>

            <li>
              <q>When a survivor of abuse chooses to share her story,
                she deserves our support.</q>
            </li>
          </ul>
        </p>
      </li>

      <li>
        <p>
          End with:
          <q>If you're watching this video,
            I challenge you to make your own and
            share it with your friends&mdash;especially if you're a man.</q>
        </p>
      </li>

      <li>
        <p>
          Use the hashtag <b>#IBelieveChristineBlaseyFord</b>
          and tag three friends (or public figures)
          you think should participate.
          You can paste this text into your post:

          <div class="highlighter-rouge">
            <div class="highlight">
<pre class="highlight"><code>#IBelieveChristineBlaseyFord.
If you believe her too, join me in speaking up.
http://ibelievechristineblaseyford.net/howto.html
Hey, <var>@friend1 @friend2 @friend3</var>, let's do this.</code></pre>
            </div>
          </div>
        </p>
      </li>

      <li>
        <p>
          Post on Facebook, Instagram, Twitter,
          or all three&mdash;the more the better.
        </p>
      </li>
    </ul>


    <dl>
      <dt>
        <p>
          Here are some examples:
        </p>
      </dt>

      <dd>
        <iframe width="324" height="216" src="https://www.youtube.com/embed/HzKb8IGjg6Y?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        <iframe width="324" height="216" src="https://www.youtube.com/embed/w2EzvjajZ3k?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </dd>
    </dl>
  </div>

</article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

