<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>

  <div class="post-content">
    <p>If you believe Dr. Christine Blasey Ford, it’s time to speak up.</p>

<p>We are encouraging everyone to join in showing that they believe Dr. Blasey.
But we’ve been disappointed to see relatively few men’s voices of support.
So, <em>in particular</em>, if you’re a man, we’re asking you to step up now.</p>

<p>We believe men should support women when they come forward to report abuse.
It’s not right for the most visible men to be a small group attacking her,
and it’s not right for women to have to stand alone.  Let’s change that.</p>

<p><a href="howto.html">Here’s how to participate.</a></p>

<p>Regardless of whether Dr. Blasey chooses to testify on Monday,
we want to make sure that voices of support come through for her,
especially before the scheduled committee hearing.</p>

  </div>

  <iframe width="324" height="216" src="https://www.youtube.com/embed/HzKb8IGjg6Y?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <iframe width="324" height="216" src="https://www.youtube.com/embed/w2EzvjajZ3k?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


</article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
