<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <meta http-equiv="refresh" content="0; http://ibelievechristine.com/">
  {%- include head.html -%}
  <style>
    .hidden { visibility: hidden; }
    .post a {
      display: inline-block;
      padding: 12px 24px;
      font-size: 18px;
      color: #fff;
      background: #369;
      border-radius: 12px;
    }
  </style>

  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
          <p>Loading...</p>

          <div id="link" class="hidden">
            <a href="http://ibelievechristine.com/">This page has moved; click here to continue.</a>
          </div>

          <script>
            function show() {
              document.getElementById('link').className = '';
            }
            setTimeout(show, 3000);
          </script>
        </article>
      </div>
    </main>
  </body>
</html>
